# Cluster API managed cluster manifests for Observability cluste

cluster:
  name: "observability"
network:
  ip_ranges: [192.168.4.111-192.168.4.117]
controlplane:
  endpoint_ip: 192.168.4.110
  machine_count: 3
  extra_manifests:
    - http://192.168.4.1/cilium.yaml
    - http://192.168.4.1/flux.yaml
    - http://192.168.4.1/flux-instance-observability.yaml
    - http://192.168.4.1/flux-secret.yaml
    - http://192.168.4.1/gateway-api.yaml
worker:
  machine_count: 3

registries:
  config:
    192.168.4.100:
      auth:
        username: admin
        password: Harbor12345
  mirrors:
    docker.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-docker.io
      overridePath: true
    ghcr.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-ghcr.io
      overridePath: true
    gcr.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-gcr.io
      overridePath: true
    registry.k8s.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-registry.k8s.io
      overridePath: true
    quay.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-quay.io
      overridePath: true
    cr.fluentbit.io:
      endpoints:
        - http://192.168.4.100/v2/proxy-cr.fluentbit.io
      overridePath: true
