locals {
  talos = {
    version = "TALOSVERSION"
  }
}

resource "proxmox_virtual_environment_download_file" "talos_nocloud_image" {
  content_type            = "iso"
  datastore_id            = "local"
  node_name               = "venus"
  file_name               = "talos-${local.talos.version}-nocloud-amd64-CLUSTER.img"
  url                     = "https://factory.talos.dev/image/TALOSIMAGEID/${local.talos.version}/nocloud-amd64.iso"
  overwrite               = false
}

