# Default values for cluster-chart: Cluster API managed cluster manifests.

cluster:
  name: "cluster09"
  kubernetes-version: "v1.32.0"

network:
  ip-ranges: "[192.168.4.101-192.168.4.107]"
  ip-prefix: "24"
  gateway: "192.168.4.1"
  bastion-host: "freyr"
  bastion-host-endpoint-ip: "192.168.1.80"
  dns-servers: "[192.168.1.201]"

controlplane:
  endpoint-ip: "192.168.4.100"
  machine-count: 1
  boot-volume-size: 40
  num-cores: 4
  num-sockets: 4
  memory-mib: 16384

workers:
  machine-count: 1
  boot-volume-size: 140
  num-cores: 4
  num-sockets: 4
  memory-mib: 16384

proxmox:
  url: "https://proxmox:8006"
  token: "Token name"
  allowed-nodes: "[venus]"
  secret: "Token value"
  template:
    sourcenode: "venus"
    template-vmid: "100"
  vm:
    boot-volume-device: "virtio0"
    bridge: "vmbr0"
