podAnnotations:
  fluentbit.io/exclude: 'true'

extraPorts:
  - port: 12345
    containerPort: 12345
    protocol: TCP
    name: talos

config:
  service: |
    [SERVICE]
        Daemon Off
        Flush {{ .Values.flush }}
        Log_Level {{ .Values.logLevel }}
        Parsers_File /fluent-bit/etc/parsers.conf
        Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port {{ .Values.metricsPort }}
        Health_Check On

  inputs: |
    [INPUT]
        Name          tcp
        Listen        0.0.0.0
        Port          12345
        Format        json
        Tag           talos.*

    [INPUT]
        Name tail
        Alias         kubernetes
        Path /var/log/containers/*.log
        multiline.parser docker, cri
        Tag kubernetes.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail On

    [INPUT]
        Name          tail
        Alias         audit
        Path          /var/log/audit/kube/*.log
        Parser        audit
        Tag           audit.*

  filters: |
    [FILTER]
        Name                kubernetes
        Alias               kubernetes
        Match               kubernetes.*
        Kube_Tag_Prefix     kubernetes.var.log.containers.
        Use_Kubelet         Off
        Merge_Log           On
        Merge_Log_Trim      On
        Keep_Log            Off
        K8S-Logging.Parser  Off
        K8S-Logging.Exclude On
        Annotations         Off
        Labels              On

    [FILTER]
        Name          modify
        Match         kubernetes.*
        Add           source kubernetes
        Remove        logtag

  customParsers: |
    [PARSER]
        Name          audit
        Format        json
        Time_Key      requestReceivedTimestamp
        Time_Format   %Y-%m-%dT%H:%M:%S.%L%z

    [PARSER]
        Name          containerd
        Format        regex
        Regex         ^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<logtag>[^ ]*) (?<log>.*)$
        Time_Key      time
        Time_Format   %Y-%m-%dT%H:%M:%S.%L%z

  outputs: |
    [OUTPUT]
        Name opensearch
        Match *
        Host opensearch.local
        Logstash_Format On
        Retry_Limit 5
        tls On
        tls.verify Off
        HTTP_User admin
        HTTP_Passwd 0P3n5e@rch!
        Suppress_Type_Name On
        Logstash_Prefix logstash
        Logstash_Prefix_Key $kubernetes['namespace_name']
        Trace_Error Off

daemonSetVolumes:
  - name: varlog
    hostPath:
      path: /var/log

daemonSetVolumeMounts:
  - name: varlog
    mountPath: /var/log

tolerations:
  - operator: Exists
    effect: NoSchedule