# Talos patch for controlplane.yaml file
cluster:
  extraManifests:
    - https://raw.githubusercontent.com/MoTTTT/cluster09/refs/heads/main/cluster-template/manifests/cilium.yaml
    - https://raw.githubusercontent.com/MoTTTT/cluster09/refs/heads/main/cluster-template/manifests/kubelet-serving-cert-approver.yaml
    - https://raw.githubusercontent.com/MoTTTT/cluster09/refs/heads/main/cluster-template/manifests/metrics-server.yaml
    - https://raw.githubusercontent.com/MoTTTT/cluster09/refs/heads/main/cluster-template/manifests/piraeus-operator.yaml
    - https://raw.githubusercontent.com/MoTTTT/cluster09/refs/heads/main/cluster-template/manifests/gateway-api.yaml
